<?js
var data = obj;
var self = this;

// TODO: move summary sanitizer to helper method
if (data.summary) {
    var removeTrailingHTMLTag = /<\/[A-z0-9]+>$/
    var cleanSummary = (data.summary[data.summary.length-1] === '.')
       ? data.summary.slice(0,-1)
       : data.summary

    var hasSummary = data.summary && !data.description.includes(cleanSummary.replace(removeTrailingHTMLTag, ''));
}
?>

<article class="member">
    <div class="method-type">
        <?js= data.attribs ?>
    </div>
<h4 class="member-name" id="<?js= id ?>"><?js= name + (data.signature ? data.signature : '') ?></h4>

<?js if (hasSummary) { ?>
    <p class="summary"><?js= data.summary ?></p>
<?js } ?>

<?js if (data.description) { ?>
<div class="description">
    <?js= data.description ?>
</div>
<?js } ?>

<?js if (data.type && data.type.names) {?>
    <h4>Type</h4>
    <ul>
        <li>
            <?js= self.partial('type.tmpl', data.type.names) ?>
        </li>
    </ul>
<?js } ?>

<?js= this.partial('details.tmpl', data) ?>

<?js if (data.fires && fires.length) { ?>
    <h4>Fires</h4>
    <ul><?js fires.forEach(function(f) { ?>
        <li><?js= self.linkto(f) ?></li>
    <?js }); ?></ul>
<?js } ?>

<?js if (data.examples && examples.length) { ?>
    <h4>Example<?js= examples.length > 1? 's':'' ?></h4>
    <?js= this.partial('examples.tmpl', examples) ?>
<?js } ?>

<?js if (data.meta && self.outputSourceFiles) {?>
    <h4>Source</h4>
    <ul>
        <li class="method-source">
            <?js= self.linkto(meta.shortpath) ?><?js= self.linkto(meta.shortpath, ', line ' + meta.lineno, null, 'source.' + meta.lineno) ?>
        </li>
    </ul>
<?js } ?>

</article>