<?js
var data = obj;
var self = this;
var props = [];
var hasDefaults = false;

data.forEach(function(member) {
    var p = member.properties[0];
    props.push(p);
    if (p.hasOwnProperty('defaultvalue')) { hasDefaults = true; }
});
?>

<table class="properties-table table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <?js if (hasDefaults) {?>
        <th>Default</th>
        <?js } ?>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <?js props.forEach(function(prop) { ?>
        <tr>
            <td class="name">
                <code class="property-name"><?js= prop.name ?></code>
            </td>

            <td class="type">
            <?js if (prop.type && prop.type.names) {?>
                <?js= self.partial('type.tmpl', prop.type.names) ?>
            <?js } ?>
            </td>

            <?js if (hasDefaults) {?>
            <td class="default">
            <?js if (typeof prop.defaultvalue !== 'undefined') { ?>
                <code><?js= self.htmlsafe(prop.defaultvalue) ?></code>
            <?js } ?>
            </td>
            <?js } ?>

            <td class="description last">
                <?js= prop.description ?>
            </td>
        </tr>
    <?js }); ?>
    </tbody>
</table>
