<?js
    var params = obj;
    var self = this;

    /* determine if we need extra columns, "attributes" and "default" */
    params.hasAttributes = false;
    params.hasDefault = false;
    params.hasName = false;

    params.forEach(function(param) {
        if (!param) { return; }

        if (param.optional || param.nullable || param.variable) {
            params.hasAttributes = true;
        }

        if (param.name) {
            params.hasName = true;
        }

        if (typeof param.defaultvalue !== 'undefined') {
            params.hasDefault = true;
        }
    });

    /* generate rows */
    params.forEach(function(param) {
        if (!param) { return; }
    ?>

    <tr>
        <?js if (params.hasName) {?>
            <td class="name">
                <code class="name">
                    <?js if (params.namePrefix) {?>
                    <span class="prefix"><?js= params.namePrefix ?>.</span>
                    <?js } ?>
                    <?js= param.name ?>
                </code>
            </td>
        <?js } ?>

        <td class="type">
        <?js if (param.type && param.type.names) {?>
            <?js= self.partial('type.tmpl', param.type.names) ?>
        <?js } ?>
        </td>

        <?js if (params.hasAttributes) {?>
            <td class="attributes">
            <?js if (param.optional) { ?>
                &lt;optional><br>
            <?js } ?>

            <?js if (param.nullable) { ?>
                &lt;nullable><br>
            <?js } ?>

            <?js if (param.variable) { ?>
                &lt;repeatable><br>
            <?js } ?>
            </td>
        <?js } ?>

        <?js if (params.hasDefault) {?>
            <td class="default">
            <?js if (typeof param.defaultvalue !== 'undefined') { ?>
                <code><?js= self.htmlsafe(param.defaultvalue) ?></code>
            <?js } ?>
            </td>
        <?js } ?>

        <td class="description last"><?js= param.description ?>
        </td>

    </tr>

    <?js if (param.subparams) { ?>
        <?js param.subparams.namePrefix = param.name ?>
        <?js= self.partial('params-rows.tmpl', param.subparams) ?>
    <?js } ?>
<?js }); ?>