.layout-main,
.layout-footer {
  margin-left: var(--nav-width);
}
.container {
  max-width: var(--max-content-width);
  margin-left: auto;
  margin-right: auto;
}

.layout-main {
  margin-top: var(--padding-unit);
  margin-bottom: var(--padding-unit);
  padding: 0 var(--padding-unit);
}

.layout-header {
  background: var(--nav-bg-color);
  border-right: 1px solid var(--border-color);
  position: fixed;
  padding: 0 var(--padding-unit);
  top: 0;
  left: 0;
  right: 0;
  width: var(--nav-width);
  height: 100%;
  overflow: scroll;

  h1 {
    display: block;
    margin-bottom: var(--nav-title-margin-bottom);
    font-size: var(--nav-title-size);
    font-weight: var(--nav-title-font-weight);
    text-align: var(--nav-title-align);

    a:link, a:visited {
      color: var(--nav-title-color);
    }
  }

  // Logo
  img {
    max-width: 120px;
    display: block;
    margin: 1em auto;
  }
}

.layout-nav {
  margin-bottom: 2rem;

  ul {
    margin: 0 0 var(--nav-list-margin-left);
    padding: 0;
  }

  li {
    list-style-type: none;
    font-size: 0.95em;

    &.nav-heading {
      &:first-child {
        display: var(--nav-heading-display);
        margin-left: 0;
        margin-bottom: 1em;
        text-transform: uppercase;
        color: var(--nav-heading-color);
        font-size: 0.85em;
      }
    }
  }

  a {
    color: var(--nav-link-color);

    &:link, a:visited {
      color: var(--nav-link-color);
    }
  }
}

.layout-content--source {
  max-width: none;
}

.nav-heading {
  margin-top: 1em;
  font-weight: 500;

  a {
    color: var(--nav-link-color);
    &:link, &:visited {
      color: var(--nav-link-color);
    }
  }

  .nav-item-type {
    font-size: 0.9em;
  }
}

// colors based on esdoc
.nav-item-type {
  display: inline-block;
  font-size: 0.9em;
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
  display: inline-block;
  text-align: center;
  border-radius: 0.2em;
  margin-right: 0.5em;
  // margin-left: 1em;

  &.type-class {
    color: var(--nav-type-class-color);
    background: var(--nav-type-class-bg);
  }

  &.type-typedef {
    color: var(--nav-type-typedef-color);
    background: var(--nav-type-typedef-bg);
  }

  &.type-function {
    color: var(--nav-type-function-color);
    background: var(--nav-type-function-bg);
  }

  &.type-namespace {
    color:  var(--nav-type-namespace-color);
    background: var(--nav-type-namespace-bg);
  }

  &.type-member {
    color:  var(--nav-type-member-color);
    background: var(--nav-type-member-bg);
  }

  &.type-module {
    color:  var(--nav-type-module-color);
    background: var(--nav-type-module-bg);
  }

  &.type-event {
    color:  var(--nav-type-event-color);
    background: var(--nav-type-event-bg);
  }
}

.layout-footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 0.8em;
  text-align: center;
  color: var(--layout-footer-color);

  a {
    color: var(--light-font-color);
    text-decoration: underline;
  }
}
