:root {
  // Colors
  --primary-color: #0664a8;
  --secondary-color: #107e7d; // #ca2d00;
  --link-color: var(--primary-color);
  --link-hover-color: var(--primary-color);
  --border-color: #eee;
  --code-color: #666;
  --code-attention-color: #ca2d00;
  --text-color: #4a4a4a;
  --light-font-color: #999;
  --supporting-color: #7097b5;
  --heading-color: var(--text-color);
  --subheading-color: var(--secondary-color);
  --heading-background: #f7f7f7;
  --code-bg-color: #f8f8f8;

  // Navigation
  --nav-title-color: var(--primary-color);
  --nav-title-align: center;
  --nav-title-size: 1rem;
  --nav-title-margin-bottom: 1.5em;
  --nav-title-font-weight: 600;
  --nav-list-margin-left: 2em;
  --nav-bg-color: #fff;
  --nav-heading-display: block;
  --nav-heading-color: #aaa;
  --nav-link-color: #666;
  --nav-text-color: #aaa;
  --nav-type-class-color: #fff;
  --nav-type-class-bg: #FF8C00;
  --nav-type-member-color: #39b739;
  --nav-type-member-bg: #d5efd5;
  --nav-type-function-color: #549ab9;
  --nav-type-function-bg: #e1f6ff;
  --nav-type-namespace-color: #eb6420;
  --nav-type-namespace-bg: #fad8c7;
  --nav-type-typedef-color: #964cb1;
  --nav-type-typedef-bg: #f2e4f7;
  --nav-type-module-color: #964cb1;
  --nav-type-module-bg: #f2e4f7;
  --nav-type-event-color: #948b34;
  --nav-type-event-bg: #fff6a6;

  // Layout
  --max-content-width: 900px;
  --nav-width: 320px;
  --padding-unit: 30px;
  --layout-footer-color: #aaa;
  --member-name-signature-display: none; // hide by default

  // Fonts
  --base-font-size: 16px;
  --base-line-height: 1.7;
  --body-font: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --code-font: Consolas, Monaco, 'Andale Mono', monospace;
}
